<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="Content/styles.css" rel="stylesheet" type="text/css">
    <title>Contact Created</title>
  </head>
  <body class="container">

    <h1>New Contact Added:</h1>

    <ul>
      <li><strong>@Model.GetName()</strong></li>
      <ul>
        <li>Phone Number:</li>
        <li><strong>@Model.GetPhone()</strong></li>
        <li>Address:</li>
        <li><strong>@Model.GetAddress().GetStreet()</li>
        <li>@Model.GetAddress().GetApartment()</li>
        <li>@Model.GetAddress().GetCity()</li>
        <li>@Model.GetAddress().GetState()</li>
        <li>@Model.GetAddress().GetZip()</strong></li>
      </ul>
    </ul>

    <form action="/contact-list" method="get">
      <button type="submit" class="btn-lg btn-success btn-block" name="contact-list">See List of Contacts</button>
    </form>

  </body>
</html>
