<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="Content/styles.css" rel="stylesheet" type="text/css">
    <title>Contact Created</title>
  </head>
  <body class="container">

    <h1>New Contact Added:</h1>
    <br>
    <div class="rows">
      <div class="jumbotron col-md-6 col-md-offset-2">
        <ul>
          <li id="getName"><strong>@Model.GetName():</strong></li>
          <ul>
            <li>Phone Number:</li>
            <ul>
              <li class="info"><strong>@Model.GetPhone()</strong></li>
            </ul>
            <li>Address:</li>
            <ul>
              <li class="info"><strong>@Model.GetAddress().GetStreet()</li>
              <li class="info">@Model.GetAddress().GetApartment()</li>
              <li class="info">@Model.GetAddress().GetCity(), @Model.GetAddress().GetState(), @Model.GetAddress().GetZip()</li>
            </ul>
          </ul>
        </ul>
      </div>
    </div>
    <form action="/contact-list" method="get">
      <button type="submit" class="btn-lg btn-success btn-block" name="contact-list">See List of Contacts</button>
    </form>

  </body>
</html>
